*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body {
  font-family: "ProximaNova-Regular", "ProximaNova-Bold", "ProximaNova-Semibold", "ProximaNova-Light", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1000px !important;
  width: 100% !important;
}

header {
  height: 75px;
  line-height: 75px;
  box-shadow: 0 8px 20px -6px rgba(0, 0, 0, 0.2);
  position: relative;
  /*  .logo img {
	display: inline-block;
	}*/
}
header .header__number {
  border: 1px solid #00b3ff;
  border-radius: 4px;
  padding: 10px;
}
header::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 31%;
  border: 13px solid blanchedalmond;
  border-color: transparent transparent #ffffff #ffffff;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  box-shadow: -4px 4px 11px 0 rgba(0, 0, 0, 0.1);
}

.steps {
  margin-bottom: 25px;
}
.steps-list {
  padding: 0;
  margin: 40px 0 0 0;
  list-style: none;
}
.steps-list__item {
  width: 80%;
  border: 1px solid #dde3e7;
  padding: 25px 0 25px 70px;
  margin: 15px 0;
}
.steps-list__item_first {
  background: url("../img/download_icon.png") center left 6% no-repeat;
}
.steps-list__item_second {
  background: url("../img/gears_icon.png") center left 6% no-repeat;
}
.steps-list__item_third {
  background: url("../img/clock_icon.png") center left 6% no-repeat;
}
.steps-list__point {
  text-transform: uppercase;
  color: #414141;
  padding-right: 15px;
  font-family: "ProximaNova-Semibold", "ProximaNova-Light", sans-serif;
}
.steps-list__point_second {
  font-weight: 900;
}
.steps-list__link {
  color: #00aaff;
  font-weight: 700;
}

.down-week {
  margin: 0px 0 0 60px;
  display: inline-block;
  width: 40%;
  color: #979da6;
  padding-top: 50px;
  position: relative;
}
.down-week::before {
  content: '';
  position: absolute;
  top: 54px;
  left: -34px;
  height: 68px;
  width: 15px;
  background: url(../img/Downloads-this-week.png) no-repeat;
  background-position: 0 0;
}
.down-week::after {
  content: '';
  position: absolute;
  top: 54px;
  right: 27px;
  height: 68px;
  width: 17px;
  background: url(../img/Downloads-this-week.png) no-repeat;
  background-position: -31px 0;
}
.down-week__amount {
  color: #00b0ff;
  margin: 10px 0;
}
.down-week__sub-header {
  font-size: 14px;
}
.down-week__star {
  color: #979da6;
}

.TV {
  margin-top: 40px;
}

.steps-button {
  width: 80%;
  margin-top: 30px;
  color: #ffffff;
  background: #00b0ff url(../img/download.png) center right 8% no-repeat;
  border: 0;
  padding: 30px 0;
  font-size: 21px;
  border-radius: 4px;
}

.down-here {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #00aaff;
}

.down-here_width {
  width: 80%;
}

.shopper {
  display: inline-block;
  vertical-align: text-bottom;
}

.company {
  border-top: 1px solid #f1f7fa;
  padding: 25px 0;
}
.company .item {
  text-align: center;
}

.hexagon {
  height: 117px;
  width: 106px;
  text-align: center;
  line-height: 117px;
  display: inline-block;
  background: url(../img/hexagon.png) center no-repeat;
}
.hexagon:hover {
  background: url(../img/hover1.png) center no-repeat;
}
.hexagon .desc, .hexagon .name_tool {
  display: none;
}

.tools {
  padding: 40px 0;
  background: #f3f6f8;
}
.tools h3 {
  color: #181818;
  text-align: center;
}
.tools .clean {
  color: #00aaff;
}
.tools .first_line {
  margin-top: 40px;
  background: #f3f6f8;
  text-align: center;
}
.tools .third_line {
  text-align: center;
}
.tools .second_line {
  text-align: center;
}
.tools .description {
  text-align: center;
  margin-top: 46px;
}
.tools .description .description_up {
  background: #f8fafb;
  padding: 15px 0 10px 0;
  border: 1px solid #dbdbdb;
  border-radius: 5px 5px 0 0;
}
.tools .description .description_up .foto {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  background: url(../img/icon__sprire_big.png) center no-repeat;
  background-position: -175px -12px;
}
.tools .description .description_up .foto.human {
  background-position: 1px -12px;
}
.tools .description .description_up .foto.check {
  background-position: -1261px -13px;
}
.tools .description .description_up .foto.flasher {
  background-position: -266px -10px;
}
.tools .description .description_up .foto.scan {
  background-position: -1341px -14px;
}
.tools .description .description_up .foto.pig {
  background-position: -1432px -11px;
}
.tools .description .description_up .foto.bell {
  background-position: -85px -11px;
}
.tools .description .description_up .foto.sat {
  background-position: -1097px -11px;
}
.tools .description .description_up .foto.saif {
  background-position: -362px -12px;
}
.tools .description .description_up .foto.circle {
  background-position: -1180px -12px;
}
.tools .description .description_up .foto.kod {
  background-position: -994px -12px;
}
.tools .description .description_up .foto.lastic {
  background-position: -895px -15px;
}
.tools .description .description_up .foto.focus {
  background-position: -536px -10px;
}
.tools .description .description_up .foto.sign {
  background-position: -454px -12px;
}
.tools .description .description_up .foto.delay {
  background-position: -797px -13px;
}
.tools .description .description_up .foto.papper {
  background-position: -704px -14px;
}
.tools .description .description_up .foto.switch {
  background-position: -617px -12px;
}
.tools .description .description_up .foto.memory {
  background-position: -176px -12px;
}
.tools .description .description_up .name {
  color: #3a3a3a;
  margin-top: 15px;
  text-transform: uppercase;
}
.tools .description .description_down {
  padding: 30px 20px 20px 20px;
  border: 1px solid #dbdbdb;
  border-radius: 0px 0px 5px 5px;
  border-top: 0;
  background: #ffffff;
}
.tools .description .description_down .text {
  height: 90px;
  font-size: 14px;
}
.tools .description .description_down button {
  font-family: "ProximaNova-Semibold", "ProximaNova-Light", sans-serif;
  font-size: 14px;
  color: #00aaff;
  background: #ffffff;
  border: 1px solid #00aaff;
  border-radius: 3px;
  padding: 16px 37px 16px 37px;
  margin-top: 15px;
}

.reviews {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 50px;
}
.reviews h3 {
  text-align: center;
  margin-bottom: 40px;
  padding: 0 15px;
}
.reviews .item {
  color: #737373;
}
.reviews .item .text {
  padding: 20px 30px;
  border: 1px solid #dddddd;
}
.reviews .item .text .star {
  height: 10px;
  width: 100px;
  background: url(../img/star.png) center left repeat;
  margin-bottom: 15px;
}
.reviews .item .client {
  padding: 20px 30px;
  border: 1px solid #dddddd;
  border-top: 0;
}
.reviews .item .client .name {
  color: #111111;
}
.reviews .item .client .study {
  color: #878787;
}

.world {
  padding: 40px 0;
}
.world .first_place {
  text-align: center;
  background: url(../img/five_stars.png) center top no-repeat;
}
.world .first_place h3 {
  font-family: "ProximaNova-Semibold", sans-serif;
  margin-top: 29px;
}
.world .first_place p {
  font-size: 14px;
}
.world .download_button {
  text-align: center;
}
.world button {
  width: 80%;
  color: #ffffff;
  background: #00b0ff url(../img/download.png) center right 8% no-repeat;
  border: 0;
  border-radius: 4px;
  padding: 30px 0;
  font-size: 21px;
}
.world .down_here {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #00aaff;
}
.world .map {
  text-align: center;
  background: url(../img/map.png) center no-repeat;
  background-size: contain;
}
.world .map p {
  font-size: 14px;
  margin-bottom: 0px;
}
.world .map p:first-child {
  font-family: "ProximaNova-Bold", sans-serif;
}
.world .map h2 {
  color: #1aa1eb;
  margin: 0;
}

footer .menu ul {
  list-style: none;
  padding: 18px 0;
  margin: 0 0 20px 0;
  text-align: center;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
}
footer .menu ul li {
  display: inline-block;
  padding: 0 8px;
}
footer .menu ul li a {
  color: #434343;
}
footer p {
  color: #747a7d;
  text-align: center;
  font-size: 12px;
}
footer .learn_more {
  color: #00abff;
}
footer .copyright {
  color: #989898;
}

@media all and (max-width: 769px) {
  header h1 {
    font-size: 31px;
  }

  .steps .down_week {
    width: 50%;
  }

  .tools .description .description_down .text {
    height: 136px;
  }

  .world .map h2 {
    font-size: 26px;
  }
}
@media all and (max-width: 435px) {
  header::after {
    top: 99%;
  }
  header h1 {
    font-size: 26px;
    text-align: center;
    margin-top: 40px;
  }

  .steps ul li, .steps button, .steps .down_here {
    width: 100%;
  }
  .steps .down_week {
    width: 46%;
  }

  .company .item {
    margin: 20px 0;
  }

  .reviews {
    padding-bottom: 0;
  }
  .reviews .item {
    margin-bottom: 40px;
  }

  .world .download_button {
    padding: 40px 0;
  }

  .tools .description .description_down .text {
    height: 70px;
  }
}
@media all and (max-width: 360px) {
  .steps ul {
    margin: 0;
  }
  .steps .down_week {
    margin: 0px 0 0 27px;
    width: 55%;
  }

  .world button {
    width: 90%;
  }

  footer p {
    padding: 0 10px;
  }
}
@media all and (max-width: 320px) {
  .steps ul li {
    padding: 25px 0 25px 56px;
  }
  .steps ul .step {
    padding-right: 9px;
  }
  .steps .down_week {
    margin: 0px 0 0 17px;
  }
  .steps .down_week::before {
    left: -23px;
  }
  .steps .down_week::after {
    right: 12px;
  }
}
