*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body {
  font-family: "ProximaNova-Regular", "ProximaNova-Bold", "ProximaNova-Semibold", "ProximaNova-Light", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1000px !important;
  width: 100% !important;
}

header {
  height: 75px;
  line-height: 75px;
  box-shadow: 0 8px 20px -6px rgba(0, 0, 0, 0.2);
  position: relative;
  /*  .logo img {
	display: inline-block;
	}*/
}
header .header__number {
  border: 1px solid #00b3ff;
  border-radius: 4px;
  padding: 10px;
}
header::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 31%;
  border: 13px solid blanchedalmond;
  border-color: transparent transparent #ffffff #ffffff;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  box-shadow: -4px 4px 11px 0 rgba(0, 0, 0, 0.1);
}

.steps {
  margin-bottom: 25px;
}
.steps-list {
  padding: 0;
  margin: 40px 0 0 0;
  list-style: none;
}
.steps-list__item {
  width: 80%;
  border: 1px solid #dde3e7;
  padding: 25px 0 25px 70px;
  margin: 15px 0;
}
.steps-list__item_first {
  background: url("../img/download_icon.png") center left 6% no-repeat;
}
.steps-list__item_second {
  background: url("../img/gears_icon.png") center left 6% no-repeat;
}
.steps-list__item_third {
  background: url("../img/clock_icon.png") center left 6% no-repeat;
}
.steps-list__point {
  text-transform: uppercase;
  color: #414141;
  padding-right: 15px;
  font-family: "ProximaNova-Semibold", "ProximaNova-Light", sans-serif;
}
.steps-list__point_second {
  font-weight: 900;
}
.steps-list__link {
  color: #00aaff;
  font-weight: 700;
}

.down-week {
  margin: 0px 0 0 60px;
  display: inline-block;
  width: 40%;
  color: #979da6;
  padding-top: 50px;
  position: relative;
}
.down-week::before {
  content: '';
  position: absolute;
  top: 54px;
  left: -34px;
  height: 68px;
  width: 15px;
  background: url(../img/Downloads-this-week.png) no-repeat;
  background-position: 0 0;
}
.down-week::after {
  content: '';
  position: absolute;
  top: 54px;
  right: 27px;
  height: 68px;
  width: 17px;
  background: url(../img/Downloads-this-week.png) no-repeat;
  background-position: -31px 0;
}
.down-week__amount {
  color: #00b0ff;
  margin: 10px 0;
}
.down-week__sub-header {
  font-size: 14px;
}
.down-week__star {
  color: #979da6;
}

.TV {
  margin-top: 40px;
}

.steps-button {
  width: 80%;
  margin-top: 30px;
  color: #ffffff;
  background: #00b0ff url(../img/download.png) center right 8% no-repeat;
  border: 0;
  padding: 30px 0;
  font-size: 21px;
  border-radius: 4px;
}

.down-here {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #00aaff;
}

.down-here_width {
  width: 80%;
}

.shopper {
  display: inline-block;
  vertical-align: text-bottom;
}

.block {
  margin: 0 auto;
  width: 500px;
}

.six {
  display: inline-block;
  width: 100px;
  height: 55px;
  margin-right: 15px;
  position: relative;
  background: red url(../img/icon__sprire_big.png) center no-repeat;
  background-position: -175px -12px;
}
.six:before {
  content: "";
  position: absolute;
  top: -24px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid red;
}
.six:after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid red;
}

.company {
  border-top: 1px solid #f1f7fa;
  padding: 25px 0;
}
.company__item {
  text-align: center;
}

.hexagon {
  display: inline-block;
  margin-right: 15px;
  position: relative;
  width: 92px;
  height: 53px;
  background: #ffffff;
  margin-top: 27px;
  box-shadow: 0 0 2px #cbcbcb;
  cursor: pointer;
}

.hexagon:before, .hexagon:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 65px;
  height: 65px;
  transform: scaleY(0.6) rotate(-45deg);
  background: inherit;
  left: 13px;
  box-shadow: 0 0 2px #cbcbcb;
}

.hexagon:before {
  top: -33px;
}

.hexagon:after {
  bottom: -33px;
}

.hexagon__wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 92px;
  height: 53px;
  z-index: 2;
  background: inherit;
}

.hexagon__icon {
  display: block;
  width: 48px;
  height: 48px;
  margin: 2px auto 0;
}

.js-hexagon-selected.hexagon {
  box-shadow: 0 0 2px #00a4ff;
}

.js-hexagon-selected.hexagon:before {
  box-shadow: 0 0 2px #00a4ff;
}

.js-hexagon-selected.hexagon:after {
  box-shadow: 0 0 2px #00a4ff, -5px 5px 0 0 #e9e9e9;
}

.desc, .name-tool {
  display: none;
}

.tools {
  padding: 40px 0;
  background: #f3f6f8;
}

.description {
  text-align: center;
  margin-top: 46px;
}

.description-up {
  background: #f8fafb;
  padding: 15px 0 10px 0;
  border: 1px solid #dbdbdb;
  border-radius: 5px 5px 0 0;
}
.description-up__foto {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  background: url(../img/icon__sprire_big.png) center no-repeat;
  background-position: -175px -12px;
}
.description-up__foto_human {
  background-position: 1px -12px;
}
.description-up__foto_check {
  background-position: -1261px -13px;
}
.description-up__foto_flasher {
  background-position: -266px -10px;
}
.description-up__foto_scan {
  background-position: -1341px -14px;
}
.description-up__foto_pig {
  background-position: -1432px -11px;
}
.description-up__foto_bell {
  background-position: -85px -11px;
}
.description-up__foto_sat {
  background-position: -1097px -11px;
}
.description-up__foto_saif {
  background-position: -362px -12px;
}
.description-up__foto_circle {
  background-position: -1180px -12px;
}
.description-up__foto_kod {
  background-position: -994px -12px;
}
.description-up__foto_lastic {
  background-position: -895px -15px;
}
.description-up__foto_focus {
  background-position: -536px -10px;
}
.description-up__foto_sign {
  background-position: -454px -12px;
}
.description-up__foto_delay {
  background-position: -797px -13px;
}
.description-up__foto_papper {
  background-position: -704px -14px;
}
.description-up__foto_switch {
  background-position: -617px -12px;
}
.description-up__foto_memory {
  background-position: -176px -12px;
}
.description-up__name {
  color: #3a3a3a;
  margin-top: 15px;
  text-transform: uppercase;
}

.description-down {
  padding: 30px 20px 20px 20px;
  border: 1px solid #dbdbdb;
  border-radius: 0px 0px 5px 5px;
  border-top: 0;
  background: #ffffff;
}
.description-down__text {
  height: 90px;
  font-size: 14px;
}
.description-down__button {
  font-family: "ProximaNova-Semibold", "ProximaNova-Light", sans-serif;
  font-size: 14px;
  color: #00aaff;
  background: #ffffff;
  border: 1px solid #00aaff;
  border-radius: 3px;
  padding: 16px 37px 16px 37px;
  margin-top: 15px;
}

.first-line {
  margin-top: 70px;
  background: #f3f6f8;
  text-align: center;
}

.third-line {
  text-align: center;
}

.second-line {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.tools-header {
  color: #181818;
  text-align: center;
}
.tools-header__clean {
  color: #00aaff;
}

.reviews {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 50px;
}
.reviews__header {
  text-align: center;
  margin-bottom: 40px;
  padding: 0 15px;
}

.reviews-text {
  padding: 20px 30px;
  border: 1px solid #dddddd;
}
.reviews-text__star {
  height: 10px;
  width: 100px;
  background: url(../img/star.png) center left repeat;
  margin-bottom: 15px;
}
.reviews-text__comment {
  color: #737373;
}

.reviews-client {
  padding: 20px 30px;
  border: 1px solid #dddddd;
  border-top: 0;
}
.reviews-client__name {
  color: #111111;
}
.reviews-client__study {
  color: #878787;
}

.world {
  padding: 40px 0;
}

.first-place {
  text-align: center;
  background: url(../img/five_stars.png) center top no-repeat;
}
.first-place__number {
  font-family: "ProximaNova-Semibold", sans-serif;
  margin-top: 29px;
}
.first-place__system {
  font-size: 14px;
}

.download-button {
  text-align: center;
}
.download-button__item {
  width: 80%;
  color: #ffffff;
  background: #00b0ff url(../img/download.png) center right 8% no-repeat;
  border: 0;
  border-radius: 4px;
  padding: 30px 0;
  font-size: 21px;
}
.download-button__down-here {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #00aaff;
}

.map {
  text-align: center;
  background: url(../img/map.png) center no-repeat;
  background-size: contain;
}
.map__item1 {
  font-size: 14px;
  margin-bottom: 0px;
}
.map__item1:first-child {
  font-family: "ProximaNova-Bold", sans-serif;
}
.map__header {
  color: #1aa1eb;
  margin: 0;
}

.footer-list {
  list-style: none;
  padding: 18px 0;
  margin: 0 0 20px 0;
  text-align: center;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
}
.footer-list__item {
  display: inline-block;
  padding: 0 8px;
}
.footer-list__link {
  color: #434343;
}

.footer-text {
  color: #747a7d;
  text-align: center;
  font-size: 12px;
}
.footer-text__more {
  color: #00abff;
}

.copyright {
  color: #989898;
}

@media all and (max-width: 769px) {
  header h1 {
    font-size: 31px;
  }

  .steps .down_week {
    width: 50%;
  }

  .tools .description .description_down .text {
    height: 136px;
  }

  .world .map h2 {
    font-size: 26px;
  }
}
@media all and (max-width: 435px) {
  header::after {
    top: 99%;
  }
  header h1 {
    font-size: 26px;
    text-align: center;
    margin-top: 40px;
  }

  .steps ul li, .steps button, .steps .down_here {
    width: 100%;
  }
  .steps .down_week {
    width: 46%;
  }

  .company .item {
    margin: 20px 0;
  }

  .reviews {
    padding-bottom: 0;
  }
  .reviews .item {
    margin-bottom: 40px;
  }

  .world .download_button {
    padding: 40px 0;
  }

  .tools .description .description_down .text {
    height: 70px;
  }
}
@media all and (max-width: 360px) {
  .steps ul {
    margin: 0;
  }
  .steps .down_week {
    margin: 0px 0 0 27px;
    width: 55%;
  }

  .world button {
    width: 90%;
  }

  footer p {
    padding: 0 10px;
  }
}
@media all and (max-width: 320px) {
  .steps ul li {
    padding: 25px 0 25px 56px;
  }
  .steps ul .step {
    padding-right: 9px;
  }
  .steps .down_week {
    margin: 0px 0 0 17px;
  }
  .steps .down_week::before {
    left: -23px;
  }
  .steps .down_week::after {
    right: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
